{% extends "posts/base.html" %}
{% block content %}
    {% load posts_extras %}
        <h1>Details about posts</h1>
        Title: {{ post.title }} </br>
        Signs: {% count_signs post.content %} </br>
        Words: {% count_words post.content %} </br>
        Added: {{post.created|date:"D, d M Y"}} </br></br>
        {% if post.sponsored %}
            THIS POST IS SPONSORED BY ...
        {% endif %}
        </br>
        <a href="{% url 'posts:list' %}">Go back to psots list page</a>
{% endblock %}